.tg  {border-collapse:collapse;border-spacing:0;width: 100%;}
.tg td{font-family:Lato, sans-serif;font-size:16px;font-weight:400;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Oswald, sans-serif;font-size:18px;font-weight:400;color:#6a62ab;border:1px solid black;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg td.bold {
  font-weight: 700;
}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
.tg .tg-s6z2{text-align:center}


@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}
