<footer>
    <div class="footer-nav">
      <div class="footer-column">
        <h3><a href="programs.html">PROGRAMS</a></h3>
        <ul>
          <li><a href="programs.html#2-3 years">2-3 years old</a></li>
          <li><a href="programs.html#3-4 years">3-4 years old</a></li>
          <li><a href="programs.html#4-5 years">4-5 years old</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3><a href="enrichment.html">ENRICHMENT</a></h3>
        <ul>
          <li><a href="enrichment.html">Class descriptions</a></li>
            </ul>
      </div>
      <div class="footer-column">
        <h3><a href="about.html">ABOUT</a></h3>
        <ul>
          <li><a href="about.html#philosophy">Philosophy</a></li>
          <li><a href="about.html#approach">Approach</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3><a href="gallery.html">GALLERY</a></h3>
        <ul>
          <li><a href="gallery.html">View Photos</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3><a href="contact.html">CONTACT US</a></h3>
        <ul>
          <li><a href="contact.html">P: (650) 518 7777</a></li>
          <li><a href="contact.html">F: (650) 518 7779</a></li>
          <li><a href="contact.html">E: ContactUs@TinyEinstein.org</a></li>
          <li><a href="contact.html">827 Independence Ave,<br>Mountain View, CA 94043</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3><a href="index.html">HOME</a></h3>
        <ul>
          <li>
            <a href="https://www.facebook.com/Tiny-Einstein-Child-Development-Center-1483911145246874/"><img width="25" src="images/facebook_icon.png" alt="Connect with us on Facebook"></a>
            <a href="https://plus.google.com/111649125275591117801/about"><img width="25" src="images/google_plus_icon.png" alt="Connect with us on Google+"></a>
          </li>
          <li>&copy; Tiny Einstein</li>
          <li>All rights reserved</li>
        </ul>
      </div>
    </div>
</footer>
