<div class="header-wrapper">
  <header>
      <div id="logo">
        <a href="index.html">
          <img id="logo-img" src="images/logo-for-site.png" alt="Tiny Einstein">
          <img id="logotype-img" src="images/logotype-for-site.png" alt="Tiny Einstein">
        </a>
      </div>
      <div id="links">
          <div class="menu-item"><a href="index.html">Home</a></div>
          <div class="menu-item"><a href="programs.html">Programs</a></div>
          <div class="menu-item"><a href="enrichment.html">Enrichment</a></div>
          <div class="menu-item desktop">
            <a href="about.html">About</a>
            <div id="header-menu-dropdown" class="dropdown">
              <ul>
                <li><a class="menu-item-link" href="schedule.html">Daily Schedule</a></li>
                <li><a class="menu-item-link" href="meals.html">Meals and Snacks</a></li>
                <li><a class="menu-item-link" href="tuition.html">Tuition and Fees</a></li>
              </ul>
            </div>
          </div>
          <div class="menu-item mobile">
            <a href="#">About</a>
            <div id="header-menu-dropdown" class="dropdown">
              <ul>
                <li><a class="menu-item-link" href="about.html">About Us</a></li>
                <li><a class="menu-item-link" href="schedule.html">Daily Schedule</a></li>
                <li><a class="menu-item-link" href="meals.html">Meals and Snacks</a></li>
                <li><a class="menu-item-link" href="tuition.html">Tuition and Fees</a></li>
              </ul>
            </div>
          </div>
          <div class="menu-item"><a href="gallery.html">Gallery</a></div>
          <div class="menu-item"><a href="contact.html">Contact Us</a></div>
      </div>
  </header>
  <script>
    $(document).ready(function() {
      function removeElement(selector) {
        document.querySelector(selector).remove();
      }

      if (isMobile.any()) {
        removeElement('.menu-item.desktop');

        var dropdown = document.querySelector('#header-menu-dropdown');
        var clickCaptured = false;

        dropdown.parentNode.addEventListener("click", function() {
          dropdown.classList.add('visible');
          clickCaptured = true;
        });

        document.addEventListener("click", function() {
          setTimeout(function() {
            if (!clickCaptured) {
              dropdown.classList.remove('visible');
            }
            clickCaptured = false;
          }, 0);
        });
      } else {
        removeElement('.menu-item.mobile');
      }
    });
  </script>
</div>
