
  <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300'
        rel='stylesheet'
        type='text/css'>


  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/normalize.min.css">
  <link rel="stylesheet" href="css/flexslider.css">
  <link rel="stylesheet" href="css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width; initial-scale=1; user-scalable=1; maximum-scale=1">
  <script src="js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="js/vendor/jquery-1.11.2.min.js"></script>

  <script>
    var isMobile = {
      Windows: function() {
          return /IEMobile/i.test(navigator.userAgent);
      },
      Android: function() {
          return /Android/i.test(navigator.userAgent);
      },
      BlackBerry: function() {
          return /BlackBerry/i.test(navigator.userAgent);
      },
      iOS: function() {
          return /iPhone|iPad|iPod/i.test(navigator.userAgent);
      },
      any: function() {
          return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Windows());
      }
    };
  </script>
