<div class="header-wrapper">
  <header>
      <div id="logo">
        <a href="index.html"><img src="images/logo.png" alt="Tiny Einstein"></a>
      </div>
      <div id="links">
          <div class="menu-item"><a href="index.html">Home</a></div>
          <div class="menu-item"><a href="programs.html">Programs</a></div>
          <div class="menu-item"><a href="enrichment.html">Enrichment</a></div>
          <div class="menu-item">
            <a href="about.html">About</a>
            <div class="dropdown">
              <ul>
                <li><a class="menu-item-link" href="schedule.html">Daily Schedule</a></li>
                <li><a class="menu-item-link" href="meals.html">Meals and Snacks</a></li>
                <li><a class="menu-item-link" href="tuition.html">Tuition and Fees</a></li>
              </ul>
            </div>
          </div>
          <div class="menu-item"><a href="gallery.html">Gallery</a></div>
          <div class="menu-item"><a href="contact.html">Contact Us</a></div>
      </div>
  </header>
</div>
